@import "tailwindcss";
@config "../../tailwind.config.ts";

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
.editorial-shadow {
    box-shadow: 0 24px 48px -12px rgba(26, 28, 28, 0.04);
}
.glass-nav {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
}
